rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // FEB UPNVJ CBT Platform - Global access rules for exams, students, and admin
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
